@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 98%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 262 80% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46.9%;

    --accent: 195 83% 43%;
    --accent-foreground: 0 0% 100%;

    --destructive: 350 89% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 262 80% 75%;

    --radius: 0.5rem;

    --sidebar-background: 225 80% 5%;

    --sidebar-foreground: 240 5% 96%;

    --sidebar-primary: 262 80% 75%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 195 83% 43%;

    --sidebar-accent-foreground: 0 0% 100%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 262 80% 75%;
  }

  .dark {
    --background: 225 80% 5%;
    --foreground: 240 5% 96%;

    --card: 240 10% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 80% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 195 83% 43%;
    --accent-foreground: 0 0% 100%;

    --destructive: 350 89% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 262 80% 75%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}